.post_code {
    width: 100px;
    
}




/* #overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1;
  display: none;
}

.modal_content {
    width: 500px; //モーダルウィンドウの大きさを可変にすること
    height: 500px;
    position: fixed;
    z-index: 2;
    display: none;
    /* overflow: scroll; */
/* } */

/* .modal_image {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: 3;
} */

/* #prev {
  width: 30%;
  height: 30%;
  background-image: url("../files/image/prev.png");
  background-repeat: no-repeat;
  position:absolute;
  top: 50%;
  left: 0;
  float: left;
  z-index: 4;
} */
