/* header ------------------------------------------------------ */
.header {
    /*height: 150px;*/
    width: 100%;
    /*border:2px dotted rgb(0,255,0);*/
    margin: 0%;
    padding: 0%;
}


nav.navbar {
    margin: 0%;
    /*background-color: rgb(0,255,0,1);*/
}

ul.navbar-right li div {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 6px; 
    color: white;
}
ul.navbar-right li div a {
    color: white;
}


.login h4 {
    width: 97%;
    text-align: right;
    /* border:2px dotted rgb(100,0,100); */
    /* margin-left: auto; */
    margin-right: 5px;
    /*color: blue;*/
}

div.blog_name {
    /*width: 970px;*/
    margin-top: 30px;
    margin-bottom: 40px;
    /*background-color: rgb(0,0,255,0.3);*/
}


.blog_name h1 {
    font-size: 60px;
    margin: 0%;
    padding-top: 15px;
    /*background-color: rgb(0,0,255,0.6);*/
}


@media (min-width: 1000px) {
    .container-fluid, div.blog_name {
        width: 970px;
        /*background-color: rgb(255,0,0,0.3);*/
    }
}


/* body ------------------------------------------------------ */
div.posts,
div.view,
div.index {
    padding: 0px;
    /*background-color: rgb(255,0,0,0.3);*/
}

div.post {
    clear: both;
    margin-top: 70px;
}

.post_body {
    margin-top: 20px;
    margin-bottom: 10px;
}

input, textarea {
    padding: 1%;
    width:98%;
}

.users {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 0%;
    /*background-color: rgb(255,0,0,0.3);*/
}

div.table-responsive {
    clear: both;
}

.table_title {
    float: left;
    margin-top: 0%;
    margin-bottom: 10px;
    /*background-color: rgb(255,0,0,0.5);*/
}

.btn_add,
.btn_edit,
.btn_delete {
    float: right;
    margin: 0px;
}

.btn_sm {
    width: 60px;
}


.form {
    margin-bottom: 50px;
}

.post_code {
    width: 100px;
}

/* sidebar ------------------------------------------------------ */
.sidebar {
    margin-left: 20px;
    /*background-color: rgb(0,255,0,0.3);*/
    /*float:right;*/
/*	width:30%;
    height: auto;*/
	/*padding:10px 80px 10px 30px;*/
    /*border:2px solid #666;*/
}

.about {
    background-color: rgb(0,0,0,0.07);
    margin: 0px 30px 30px 30px;
    padding: 1px 10px 10px 10px;
}

.search {
    background-color: rgb(0,0,0,0.07);
    margin: 30px;
    padding: 0px 10px 10px 10px;
}

/*.actions {
    background-color: rgb(0,0,0,0.07);
    margin: 30px;
    padding: 1px 10px 10px 10px;
}*/

.archives {
    background-color: rgb(0,0,0,0.07);
    margin: 30px;
    padding: 1px 10px 10px 10px;
}


div.input {
    margin: 20px 0px;
}

input.keyword {
    width: 90%;
    margin-left: 0px;
    /*display: inline-block;*/
}

.checkbox {
    margin-left: 40px;
    /*display: inline;*/
}

.checkbox input {
    margin: 0%;
    /*border:1px solid rgb(0,0,255);*/
}

.checkbox label {
    margin: 0%;
    /*border:1px solid rgb(0,0,255);*/
    padding: 0%;
    /*text-align: left;*/
    /*color: red;*/
}

    {
    margin-left: 25px;
    width: 50%;
}

/* message ------------------------------------------------------ */
#flashMessage.error {
/*    clear: both;
    color: red;
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 1em 0;
    padding: 5px;*/

    margin: 20px 0px;
    font-size: 20px;
    clear: both;
    color: #fff;
    background: #c43c35;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);

}

#flashMessage.success {

    margin: 20px 0px;
    font-size: 20px;

    clear: both;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #3B8230;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
    background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
    background-image: linear-gradient(top, #76BF6B, #3B8230);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);

}

.error-message {
    color: red;
    font-family: Helvetica Neue;
    /*font-weight: bold;*/
}

