/* 設計手法として「FLOCSS」を用いる */


/* -------------------------------------------------------------- */
/* 
Foundation
 ブラウザのデフォルトスタイルの初期化や、サイト全体基本的なスタイルを定義
*/


/* -------------------------------------------------------------- */
/* 
Layout
 ヘッダー、フッター、サイドバー、メインコンテンツエリアなど、サイト全体のブロックを定義
*/

/* -------------------------------------------------------------- */
/* 
Object
 サイト内で繰り返されるパターンを定義。
 以下に定義するComponent、Project、Utilityから構成される
*/
/* -------------------------------------------------------------- */
/* 
Component
 再利用可能な小さな共通部品,コンポーネントを定義
*/

.btn_s {
    width: 80px;
}

.btn_m {
    width: 120px;
}

.btn_l {
    width: 160px;
}

.btn_xl {
    width: 200px;
}

/* container-fluidはBootStrapのクラス */
.container-fluid {
    margin-top: 0px;
}

.container-fluid.centering {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (min-width: 1000px) {
    .container-fluid.centering {
        width: 970px;
    }
}

input, 
textarea {
    padding: 1%;
    width:98%;
}

div.checkbox_tag_add,
div.checkbox_tag_edit {
    /*float: left;*/
    display: inline-block;
    margin: 0px 10px 10px 0px;
    position:relative;
}

div.checkbox input{
    display: none;
}

div.checkbox label {
    margin: 0px;
    padding-left: 25px;
    /*position:relative;*/
    /*top: 0;*/

}

div.checkbox label::before{
    content: "";
    display: block;
    /*display: inline-block;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    /*margin-top: 3px; */
    border: 1px solid #999;
    border-radius: 0px;
}

input[type="checkbox"]:checked + label {
    color: #009a9a;
}

input[type="checkbox"]:checked + label::after{
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    left: 5px;
    width: 10px;
    height: 19px;
    transform: rotate(40deg);
    border-bottom: 3px solid #009a9a;
    border-right: 3px solid #009a9a;
}



#tagG_label {
    display: block;
    /*margin-bottom: 0px;*/
}

div.margin {
    margin-top: 10px;
}

dl {
    margin-bottom: 30px;
}

dd {
    margin-bottom: 20px;
}

/* img  */
/* post-edit */
div.images {
    margin-bottom: 40px;
}

/* float関連  */
div.floatContainer::after {
    content: "";
    display: block;
    height: 0px;
    clear: both;    
}

/* submit  */
input[type="submit"]#submit_draft {
    display: none;
    border-radius: 4px 0px 0px 4px;
}

/* -------------------------------------------------------------- */
/* 
Project
 サイト(プロジェクト)内で再利用できるパターンを定義
*/

/* フォーム部品の親要素divの余白を一律に設定 */
.input-div {
    margin: 20px 0px;
}

/* テキストボックスは、高さを一律で30pxとする */
input[type="text"] {
    height: 30px;
}

/* セレクトボックスは、高さを一律で30pxとする */
select {
    height: 30px;
}

/* カテゴリー選択のセレクトボックス */
.input-select-category {
    display: block;
    min-width: 150px;
}



/* -------------------------------------------------------------- */
/* 
Utility
 位置やサイズの微調整を行うクラスを定義
 凡例：「.margin-l-S」は、margin-leftの小さめの余白
*/

.width-full {
    width: 100%;
}

.margin-t-XS {
    margin-top: 5px;
}

.margin-t-S {
    margin-top: 10px;
}

.margin-b-S {
    margin-bottom: 10px;
}

.margin-l-S {
    margin-left: 10px;
}

.margin-r-S {
    margin-right: 10px;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

/* -------------------------------------------------------------- */
/*
Pages
 各ページ固有のスタイルを定義
*/

/* -------------------------------------------------------------- */
/*
Elements
 header.ctp
*/
.header {
    /*background-color: rgb(0,200,150,0.7);*/
    background-color: rgb(0,0,200,0.7);
}


.navbar {
    margin: 0%;
    display:flex;
}

.header-start {
    display:flex;
    /*align-items:center;*/
    justify-content:flex-start;
}

.header-end {
    display:flex;
    /*align-items:center;*/
    justify-content:flex-end;
}

/* 
BootStrapのnavクラスを指定しない代わりに
自分でulのスタイル設定する
 */
.header-end > ul {
    display:flex;
    align-items:center;
    justify-content:center;

    list-style: none;
    position: relative;
}

.header-end__username {
    margin-right: 10px;
}

.header-end__username > a:hover {
    color: white;
}

/* 
ToDo：BootStrap併用の関係上、よくない指定の仕方をしている。要改善。
 */
.header-font-color {
    color: white;
}

.header-end__btn {
    /*border-radius: 5px;*/
    border: 2px solid white;
    margin: 1px 1px;

    height: 30px;
    /*vertical-align: middle;*/

    /* aタグの中の文字の位置揃えに必要 */
    display:flex;
    align-items:center;
    justify-content:center;
}

.header-end__btn:hover {
    /*text-decoration:none;*/
    background-color:rgba(255,255,255,0.3);
    color: white;
}

@media (min-width: 1000px) {
    .blog-title {
        width: 970px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.blog-title h1 {
    margin: 0%;
}

.blog-title a {
    font-size: 45px;
    color: white;
    text-decoration: none;
    margin: 0%;
    transition: 0.5s;
}

.blog-title a:hover {
    color: rgba(0,255,0,1);
}

/* -------------------------------------------------------------- */
/* 
Elements
 sidebar.ctp
*/
.sidebar {
    margin-left: 20px;
}

.about {
    background-color: rgb(0,0,0,0.07);
    margin: 0px 30px 30px 30px;
    padding: 1px 10px 10px 10px;
}

.search {
    background-color: rgb(0,0,0,0.07);
    margin: 30px;
    padding: 0px 10px 10px 10px;
}

.archives {
    background-color: rgb(0,0,0,0.07);
    margin: 30px;
    padding: 1px 10px 10px 10px;
}

/* -------------------------------------------------------------- */
/* 
Elements
 sidebar_mypage.ctp
*/
.sidebar_mypage {
    background-color: rgb(0,0,0,0.07);
    margin: 0px;
    padding-top: 10px;
    padding-left: 0px;

}

.sidebar_mypage > ul{
    list-style: none;
    margin-left: 0px; 
    padding-left: 0px;
}

.sidebar_mypage > ul > li {
    margin-left: 30px;
    /*margin-top: 2px;*/
    margin-bottom: 10px;
}

.sidebar_mypage > ul > li > a {
    color: black;
}

/* -------------------------------------------------------------- */
/* 
Posts
 index.ctp
*/
.main-column {
    padding-left: 13px;
    padding-right: 13px;
}

.post {
    margin-top: 0px;
    margin-bottom: 30px;
    height: 250px;
}

.post__title {
    margin: 3px 0px 1px 0px;
}

.post__title a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.post__title a:hover {
    color: rgba(0,200,0,1);
}

.post__date {
    color: gray;
    margin: 0px 0px 0px 0px;
    font-size: 16px;
    /*width: 20%;*/
    /*float: right;*/
    /*border: 1px solid black;*/
}

.post__body-index {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 100px;
    /*background-color: pink;*/
}

.post__body {
    margin-top: 20px;
    margin-bottom: 20px;
    /*background-color: pink;*/
}

.post__img-index {
    float:left;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.img_view {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
}

.table-responsive {
    clear: both;
}

.table_title {
    float: left;
    margin-top: 0%;
    margin-bottom: 10px;
}

.btn_post_delete
.btn_add,
.btn_edit,
.btn_delete {
    float: right;
    margin: 0px;
}

.btn_addForm {
    margin-bottom: 30px;
}

.btn_trash_post::before {
    font-family: "Font Awesome 5 Free";
    content: "\f1f8";
}

.labelFileName {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
}

.btn_del_imgForm {
    margin-bottom: 30px;
}

.label_for_inputFile {
    display: block;
    width: 120px;
    margin: 5px 0px;
}

.form {
    margin-bottom: 50px;
}

input.post_code {
    width: 120px;
    margin-left: 10px;
}

select#UserGroupId {
    margin-left: 10px;
}

.td_title {
    width: 20%;
}

.td_post_body {
    width: 50%;
}

.td_created {
    width: 10%;
}

.td_modified {
    width: 10%;
}

.td_actions {
    width: 10%;
}

/* -------------------------------------------------------------- */
/* 
Posts
 view.ctp
*/



/*
コメント欄
*/

/* コメント欄の大枠 */
.comments_view {
    border-top: 1px solid #ddd;
    margin-bottom: 30px;
}

/* 各コメントの大枠 */
.comment_view {
    border-bottom: 1px solid #ddd;
}

/* 各コメントの中身(プロフィール画像を含まない部分) */
.comment_view_contents {
    margin-left: 70px;
}

/* コメント投稿者の名前 */
.comment_contributor {
    font-size: 110%;
    font-weight: bold;
}

/* コメント投稿日時 */
.comment_datetime {
    color: gray;
}

/*
コメントポップアップ
 */
div#popup_comment {
    display: none;
    border: 1px solid #ddd;
    padding: 10px;
    position: relative;
    top: -40px;
    left: -5px;
    z-index: 1;
    background-color: white;
}

@media (min-width: 768px) {
    div#popup_comment {
        width: 75%;
    }
}

div#popup_comment table {
    margin: 0px;
}

#popup_comment tr {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#popup_comment tr.submit {
    border-bottom: 0px;
}

#popup_comment th {
    padding-right: 10px;
}

#popup_comment td.contributor {
    height: 60px;
}

#popup_comment td.comment {
    height: 150px;
}

#popup_comment tr.submit td {
    height: 50px;
}

#popup_comment textarea {
    
    border: 1px solid #ddd;
}

.popup_close_icon {
    float: right;
}

/* 
モーダルウィンドウ関連
*/
#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1;
  display: none;
}

/* モーダルウィンドウの大きさを可変にすること */
div.modal_content {
    position: fixed;
    z-index: 2;
    display: none;
}

.modal_image {
    max-width: 500px;
    max-height: 500px;
    z-index: 3;
}

#prev,
#next {
  width: 50px;
  height: 60px;
  background-repeat: no-repeat;
  position:absolute;
  z-index: 4;
}

#prev {
  background-image: url("../files/image/prev.png");
  float: left;
  top: 50%;
  left: 0px;
}

#next {
  background-image: url("../files/image/next.png");
  float: right;
  top: 50%;
  right: 0px;
}

/* -------------------------------------------------------------- */
/* 
Posts
 mypage.ctp
*/
div.mypage_header {
    border-bottom: 2px solid rgb(0,0,0,0.2);
}

table.table {
    border-bottom: 1px solid #ddd;
    /*border-bottom: 1px solid #fff;*/
}

table.table_mypage {
    margin-top: 40px;
    width: 50%;
}

ul.nav-tabs {
    margin-top: 40px;
    margin-bottom: 20px;
}















