/* header ------------------------------------------------------ */
.header {
    width: 100%;
    margin: 0%;
    padding: 0%;
    /*background-color: rgb(0,200,150,0.7);*/
    background-color: rgb(0,0,200,0.7);
}


nav.navbar {
    margin: 0%;
    display:flex;
}

nav.navbar > div.header_start {
    display:flex;
    /*align-items:center;*/
    justify-content:flex-start;
    /*background-color: red;*/
}

nav.navbar > div.header_end {
    display:flex;
    /*align-items:center;*/
    justify-content:flex-end;
}

/*ul.header_start {
    margin-left: 15%;
}*/

ul.header_end {
    /*float: right;*/
    /*margin-right: 0;*/
    /*margin-left: 300px;*/

    display:flex;
    align-items:center;
    justify-content:center;

    list-style: none;
    position: relative;
    right: 0px;
}

ul.header_end > li {
    float: right;
}

ul.header_end > li.username {
    margin-right: 10px;
}

.nav_li {
    color: white;
}

.nav_li.username:hover {
    color: white;
}

a.btn_addUser,
a.btn_logout,
a.btn_login {
    border-radius: 5px;
    border: 2px solid white;
    margin: 1px 1px;

    height: 30px;
    /*vertical-align: middle;*/

    /* aタグの中の文字の位置揃えに必要 */
    display:flex;
    align-items:center;
    justify-content:center;
}

.btn_addUser:hover,
.btn_logout:hover,
.btn_login:hover {
    /*text-decoration:none;*/
    background-color:rgba(255,255,255,0.3);
    color: white;
}

@media (max-width: 768px) {
    .btn_addUser,
    .btn_logout,
    .btn_login {
        margin: 3px 13px;
    }
}

@media (min-width: 1000px) {
    div.blog_name {
        width: 970px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.blog_name h1 {

    margin: 0%;
}

.blog_name a {
    font-size: 45px;
    color: white;
    text-decoration: none;
    margin: 0%;
    transition: 0.5s;
}

.blog_name a:hover {
    color: rgba(0,255,0,1);
    /*background-color: white;*/
}

/* body ------------------------------------------------------ */
.container-fluid {
    margin-top: 0px;
}

@media (min-width: 1000px) {
    .container-fluid.centering {
        width: 970px;
        padding-top: 30px;
        /*margin-bottom: 30px;*/
        padding-bottom: 30px;
    }
}

div.posts,
div.view,
div.index {
    padding-left: 13px;
    padding-right: 13px;
}

div.post {
    clear: both;
    margin-top: 0px;
    margin-bottom: 30px;
    height: 250px;
    /*background-color: pink;*/
}

.post_title {
    margin: 3px 0px 1px 0px;
}

.post_title a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.post_title a:hover {
    color: rgba(0,200,0,1);
}

.post_writer,
.post_date {
    color: gray;
    margin: 0px 0px 0px 0px;
    font-size: 16px;
    /*width: 20%;*/
    /*float: right;*/
    /*border: 1px solid black;*/
}

.post_writer_view,
.post_date_view {
    margin: 0px, 0px, 0px, 0px;
    /*float: right;*/
}

.post_body_index {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 100px;
    /*background-color: pink;*/
}

.post_body {
    margin-top: 20px;
    margin-bottom: 20px;
    /*background-color: pink;*/
}

.img_index {
    float:left;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.img_view {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
}


.btnG_edit_delete {
    clear:both;
    /*background-color: red;*/
}


.btn_edit_index,
.btn_delete_index {
    float: right;
}

input, textarea {
    padding: 1%;
    width:98%;
}

.users {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 0%;
}

div.table-responsive {
    clear: both;
}

.table_title {
    float: left;
    margin-top: 0%;
    margin-bottom: 10px;
}

.btn_post_delete
.btn_add,
.btn_edit,
.btn_delete {
    float: right;
    margin: 0px;
}

.float_right {
    float: right;
}

.btn_s {
    width: 80px;
}

.btn_m {
    width: 120px;
}

.btn_l {
    width: 160px;
}

.btn_xl {
    width: 200px;
}

.btn_addForm {
    margin-bottom: 30px;
}

.btn_trash_post::before {
    font-family: "Font Awesome 5 Free";
    content: "\f1f8";
}

.labelFileName {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
}

.btn_del_imgForm {
    margin-bottom: 30px;
}

.label_for_inputFile {
    display: block;
    width: 120px;
    margin: 5px 0px;
}

.form {
    margin-bottom: 50px;
}

input.post_code {
    width: 120px;
    margin-left: 10px;
}

select#UserGroupId {
    margin-left: 10px;
}

.td_title {
    width: 20%;
}

.td_post_body {
    width: 50%;
}

.td_created {
    width: 10%;
}

.td_modified {
    width: 10%;
}

.td_actions {
    width: 10%;
}



/* sidebar ------------------------------------------------------ */
.sidebar {
    margin-left: 20px;
}

.about {
    background-color: rgb(0,0,0,0.07);
    margin: 0px 30px 30px 30px;
    padding: 1px 10px 10px 10px;
}

.search {
    background-color: rgb(0,0,0,0.07);
    margin: 30px;
    padding: 0px 10px 10px 10px;
}

.archives {
    background-color: rgb(0,0,0,0.07);
    margin: 30px;
    padding: 1px 10px 10px 10px;
}

/* mypage ------------------------------------------------------ */
div.mypage_header {
    border-bottom: 2px solid rgb(0,0,0,0.2);
}

table.table {
    border-bottom: 1px solid #ddd;
    /*border-bottom: 1px solid #fff;*/
}

table.table_mypage {
    margin-top: 40px;
    width: 50%;
}

ul.nav-tabs {
    margin-top: 40px;
    margin-bottom: 20px;
}

/* sidebar_mypage ------------------------------------------------------ */
.sidebar_mypage {
    background-color: rgb(0,0,0,0.07);
    margin: 0px;
    padding-top: 10px;
    padding-left: 0px;

}

.sidebar_mypage > ul{
    list-style: none;
    margin-left: 0px; 
    padding-left: 0px;
}

.sidebar_mypage > ul > li {
    margin-left: 30px;
    /*margin-top: 2px;*/
    margin-bottom: 10px;
}

.sidebar_mypage > ul > li > a {
    color: black;
}


/* フォーム ------------------------------------------------------ */
div.input {
    margin: 20px 0px;
}

input.keyword {
    width: 100%;
    height: 30px;
    margin-left: 0px;
}

div.select label {
    margin: 0px;
}

div.categories {
    margin-bottom: 20px;
}

div.categories select {
    display: block;
    height: 30px;
}

div.categories_sidebar select {
    width: 100%;
}

div.categories_edit select {
    min-width: 140px;
}

div.tags {
    margin-bottom: 20px;
}

div.checkbox_tag_add,
div.checkbox_tag_edit {
    /*float: left;*/
    display: inline-block;
    margin: 0px 10px 10px 0px;
    position:relative;
}

div.checkbox input{
    display: none;
}

div.checkbox label {
    margin: 0px;
    padding-left: 25px;
    /*position:relative;*/
    /*top: 0;*/

}

div.checkbox label::before{
    content: "";
    display: block;
    /*display: inline-block;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    /*margin-top: 3px; */
    border: 1px solid #999;
    border-radius: 0px;
}

input[type="checkbox"]:checked + label {
    color: #009a9a;
}

input[type="checkbox"]:checked + label::after{
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    left: 5px;
    width: 10px;
    height: 19px;
    transform: rotate(40deg);
    border-bottom: 3px solid #009a9a;
    border-right: 3px solid #009a9a;
}



#tagG_label {
    display: block;
    /*margin-bottom: 0px;*/
}

/* div ------------------------------------------------------ */
div.margin {
    margin-top: 10px;
}

/* dl,dt,dd ------------------------------------------------------ */
dl {
    margin-bottom: 30px;
}

dd {
    margin-bottom: 20px;
}

/* img ------------------------------------------------------ */
/* post-edit */
div.images {
    margin-bottom: 40px;
}

/* float関連 ------------------------------------------------------ */
div.floatContainer::after {
    content: "";
    display: block;
    height: 0px;
    clear: both;    
}

/* submit ------------------------------------------------------ */
input[type="submit"]#submit_draft {
    display: none;
    border-radius: 4px 0px 0px 4px;
}

/* コメント欄 ------------------------------------------------------ */

/* コメント欄の大枠 */
.comments_view {
    border-top: 1px solid #ddd;
    margin-bottom: 30px;
}

/* 各コメントの大枠 */
.comment_view {
    border-bottom: 1px solid #ddd;
}

/* 各コメントの中身(プロフィール画像を含まない部分) */
.comment_view_contents {
    margin-left: 70px;
}

/* コメント投稿者の名前 */
.comment_contributor {
    font-size: 110%;
    font-weight: bold;
}

/* コメント投稿日時 */
.comment_datetime {
    color: gray;
}

/* コメントポップアップ ------------------------------------------------------ */
div#popup_comment {
    display: none;
    border: 1px solid #ddd;
    padding: 10px;
    position: relative;
    top: -40px;
    left: -5px;
    z-index: 1;
    background-color: white;
}

@media (min-width: 768px) {
    div#popup_comment {
        width: 75%;
    }
}

div#popup_comment table {
    margin: 0px;
}

#popup_comment tr {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#popup_comment tr.submit {
    border-bottom: 0px;
}

#popup_comment th {
    padding-right: 10px;
}

#popup_comment td.contributor {
    height: 60px;
}

#popup_comment td.comment {
    height: 150px;
}

#popup_comment tr.submit td {
    height: 50px;
}

#popup_comment textarea {
    
    border: 1px solid #ddd;
}

.popup_close_icon {
    float: right;
}

/* モーダルウィンドウ ------------------------------------------------------ */
#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1;
  display: none;
}

/* モーダルウィンドウの大きさを可変にすること */
div.modal_content {
    position: fixed;
    z-index: 2;
    display: none;
}

.modal_image {
    max-width: 500px;
    max-height: 500px;
    z-index: 3;
}

#prev,
#next {
  width: 50px;
  height: 60px;
  background-repeat: no-repeat;
  position:absolute;
  z-index: 4;
}

#prev {
  background-image: url("../files/image/prev.png");
  float: left;
  top: 50%;
  left: 0px;
}

#next {
  background-image: url("../files/image/next.png");
  float: right;
  top: 50%;
  right: 0px;
}

/* message ------------------------------------------------------ */
#flashMessage.error {
    margin: 20px 0px;
    font-size: 20px;
    clear: both;
    color: #fff;
    background: #c43c35;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.flash_msg,
#flashMessage.success {

    margin: 20px 0px;
    font-size: 20px;

    clear: both;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #3B8230;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
    background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
    background-image: linear-gradient(top, #76BF6B, #3B8230);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.error-message {
    color: red;
    font-family: Helvetica Neue;
}

