/* header ------------------------------------------------------ */
.header {
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: rgb(0,200,150,0.7);
}


nav.navbar {
    margin: 0%;
}

.nav_li {
    color: white;
}

.nav_username {
    padding: 17px 15px;
}

.btn_addUser,
.btn_logout,
.btn_login {
    border-radius: 10px;
    border: 2px solid white;
    /*height: 30px;*/
    margin: 1px 1px;
}

@media (max-width: 768px) {
    .btn_addUser,
    .btn_logout,
    .btn_login {
        margin: 3px 13px;
    }
}

@media (min-width: 1000px) {
    div.blog_name,
    .container-fluid {
        width: 970px;
    }
}

div.blog_name {
    margin-top: 0px;
    margin-bottom: 40px;
}


.blog_name a {
    font-size: 50px;
    /*color: black;*/
    color: white;
    text-decoration: none;
    margin: 0%;
    padding-top: 15px;
}

/* body ------------------------------------------------------ */
div.posts,
div.view,
div.index {
    padding-left: 13px;
    padding-right: 13px;
}

div.post {
    clear: both;
    margin-top: 70px;
}

.post_title a {
    color: black;
    text-decoration: none;
}

.post_writer,
.post_date {
    color: gray;
}

.post_writer_view,
.post_date_view {
    margin: 0px;
}

.post_body {
    margin-top: 20px;
    margin-bottom: 10px;
}

input, textarea {
    padding: 1%;
    width:98%;
}

.users {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 0%;
}

div.table-responsive {
    clear: both;
}

.table_title {
    float: left;
    margin-top: 0%;
    margin-bottom: 10px;
}

.btn_add,
.btn_edit,
.btn_delete {
    float: right;
    margin: 0px;
}

.btn_sm {
    width: 80px;
}

.btn_addForm {
    margin-bottom: 30px;
}

.labelFileName {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
}

.btn_del_imgForm {
    margin-bottom: 30px;
}

.label_for_inputFile {
    display: block;
    width: 120px;
    margin: 5px 0px;
}

.form {
    margin-bottom: 50px;
}

input.post_code {
    width: 100px;
    margin-left: 10px;
}

select#UserGroupId {
    margin-left: 10px;
}


/* sidebar ------------------------------------------------------ */
.sidebar {
    margin-left: 20px;
}

.about {
    background-color: rgb(0,0,0,0.07);
    margin: 0px 30px 30px 30px;
    padding: 1px 10px 10px 10px;
}

.search {
    background-color: rgb(0,0,0,0.07);
    margin: 30px;
    padding: 0px 10px 10px 10px;
}

.archives {
    background-color: rgb(0,0,0,0.07);
    margin: 30px;
    padding: 1px 10px 10px 10px;
}


/* フォーム ------------------------------------------------------ */
div.input {
    margin: 20px 0px;
}

input.keyword {
    width: 90%;
    margin-left: 0px;
}

.checkbox {
    margin-left: 40px;
}

.checkbox label {
    margin: 0px;
    padding: 0px;
}

/* モーダルウィンドウ ------------------------------------------------------ */
#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1;
  display: none;
}

/* モーダルウィンドウの大きさを可変にすること */
div.modal_content {
    position: fixed;
    z-index: 2;
    display: none;
}

.modal_image {
    max-width: 500px;
    max-height: 500px;
    z-index: 3;
}

#prev,
#next {
  width: 50px;
  height: 60px;
  background-repeat: no-repeat;
  position:absolute;
  z-index: 4;
}

#prev {
  background-image: url("../files/image/prev.png");
  float: left;
  top: 50%;
  left: 0px;
}

#next {
  background-image: url("../files/image/next.png");
  float: right;
  top: 50%;
  right: 0px;
}

/* message ------------------------------------------------------ */
#flashMessage.error {
    margin: 20px 0px;
    font-size: 20px;
    clear: both;
    color: #fff;
    background: #c43c35;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.flash_msg,
#flashMessage.success {

    margin: 20px 0px;
    font-size: 20px;

    clear: both;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #3B8230;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
    background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
    background-image: linear-gradient(top, #76BF6B, #3B8230);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.error-message {
    color: red;
    font-family: Helvetica Neue;
}

